/* Global */
:root {
  /* Color */
  --color-white: #fefefe;
  --color-dark-white: #e7e6e1;
  --color-light-white: #f7f6e7;
  --color-yellow: #fcd134;
  --color-dark-yellow: #ffff6a;
  --color-light-yellow: #ffff8d;
  --color-gray: #939597;
  --color-dark-gray: #616161;
  --color-ornage: #f2a154;
  --color-red: #e84545;
  --color-blue: #00589b;
  --color-navy: #2b2e4a;
  --color-black: #000000;
  --color-green: #7eaf34;
  --color-light-green: #68b68e;
  --color-dark-green: #008003;
  --color-brown: #a3623b;
  --color-purple: #c45eff;
  --color-pink: #e79a8b;

  /* Font size */
  --font-large: 48px;
  --font-medium: 24px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Font family */
  --font-family-arch: "Archivo Black", sans-serif;
  --font-family-nanum: "Nanum Gothic", sans-serif;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 200ms;
}

body {
  background: url("../img/home-background.png") center/cover no-repeat;
  font-family: "Inconsolata", monospace;
  margin: 0;
  cursor: default;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-red);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  margin: 15px 0;
  color: var(--color-blue);
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 10px 0;
  color: var(--color-dark-green);
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
  color: var(--color-black);
}

section {
  margin: 30px 40px;
}

/* Header */
#header {
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

#header .section__container {
  width: 800px;
  display: flex;
  justify-content: center;
  background-color: var(--color-dark-green);
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 10px 10px 6px -6px #777;
}

.header__title {
  width: 700px;
}

.section__container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.navbar__menu button {
  border: solid 1px var(--color-black);
  background-color: var(--color-light-yellow);
  padding: 20px 30px;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  box-shadow: 5px 5px 6px -6px #777;
}

.navbar__menu button:hover {
  background-color: var(--color-dark-green);
  color: white;
  transition: all var(--animation-duration) ease;
  transform: scale(1.1);
}

.navbar__menu button:hover i {
  color: var(--color-yellow);
  transform: rotate(-20deg);
}

.navbar__menu i {
  padding-right: 8px;
}

/* Chatbox */

#chatbox {
  margin: auto;
  height: 100%;
}

.chat__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fefefe;
  width: 1100px;
  height: 800px;
  box-shadow: 10px 10px 6px -6px #777;
  border: solid 1px var(--color-black);
  overflow-y: scroll;
}

.chat__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px var(--color-black);
  background-color: var(--color-light-yellow);
  border: solid 1px var(--color-black);
}

.chat__top i {
  font-size: 24px;
  margin-left: 10px;
  color: var(--color-black);
  cursor: pointer;
}

.chat {
  display: flex;
  margin: 20px 30px;
}

.chat__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 20px;
}

.chat__speechbubble {
  background-color: var(--color-gray);
  padding: 20px;
  border-radius: 20px;  
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  height: 130px;
}

.chat:nth-child(even) {
  flex-direction: row-reverse;
}

.first-chat {
  margin-top: 40px;
}

.last-chat {
  margin-bottom: 40px;
}

.chat__text {
  display: inline;
  font-size: var(--font-medium);
  max-width: 100%;
}

.chat__speechbubble i {
  color: var(--color-yellow);
  font-size: var(--font-regular);
}

.chat__speechbubble i:hover {
  color: var(--color-dark-white);
  font-size: var(--font-regular);
  cursor: pointer;
  transform: rotate(-20deg);
}

/* Footer */
#footer {
  text-align: center;
  border-top: solid 1px var(--color-black);
  margin-top: 50px;
  padding: 20px;
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
}